@import 'src/mixins/variables';
@import 'src/mixins/hidden';
@import 'src/mixins/visible';
@import 'src/mixins/transition';

.Details {
  width: 100%;
  background: #0c1723;
  display: flex;
  flex-direction: column;
  @include transition;
  @include hidden;

  &.visible {
    height: $detailsHeight;
    @include visible;
  }
}