@import 'src/mixins/variables';
@import 'src/mixins/hidden';
@import 'src/mixins/visible';

.Details {
  width: 100%;
  background: #0c1723;
  @include hidden;

  &.visible {
    height: $detailsHeight;
    @include visible;
  }
}