@import 'src/mixins/hidden';
@import 'src/mixins/visible';
@import 'src/mixins/transition';

.Details {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include transition;
  @include hidden;

  &.visible {
    height: calc(100% - 123px);
    @include visible;
  }
}