.DropdownArrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #1860a1;
  margin: 0 5px 0 0;
  background: #01122d;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 100ms;

  &:after {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background: url('./images/arrow.png') no-repeat center center;
    transition: transform 100ms;
  }

  &.expanded {
    &:after {
      transform: rotate(180deg);
    }
  }

  &.hovered,
  &.expanded {
    opacity: 1;
  }
}