@import 'src/mixins/variables';

$emptyColor: #03101e;
$winColor: #5cea00;
$lossColor: #f44242;

.WinLoseBar {
  width: 100%;
  height: 8px;
  background: $emptyColor;

  .wins,
  .losses {
    float: left;
    height: 100%;
    transition: width $transitionDuration;
  }

  .wins {
    background: $winColor;
  }

  .losses {
    background: $lossColor;
  }


}