.LadderWinRatioBar {
  width:211px;
  box-sizing:border-box;
  position: absolute;
  top: 19px;
  left: 42px;
}

.LadderWinRatioBar .bar-overall {
  width:100%;
  height:14px;
  padding:1px;
  background: #010b1c;
  position: relative;
  box-sizing:border-box;
}

.LadderWinRatioBar .bar {
  float: left;
  height:100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}



.LadderWinRatioBar .bar-wins {
  background:#5cea00;
}

.LadderWinRatioBar .bar-ties {
  background:#dda505;
}

.LadderWinRatioBar .bar-losses {
  background:#f44242;
}