@import 'src/mixins/variables';

.ConfigInfoBox {
  padding: 0 10px;

  h2 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  ol {
    margin-left: 0;
    padding-left: 20px;
    margin-bottom: 0;
  }

  li,
  p {
    line-height: 1.5;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #00aeff;
  }

  .content {
    display: none;

    &.visible {
      display: block;
    }
  }
}