@import 'src/mixins/variables';

@mixin inactive {
  opacity: 0;
  height: 0;
  transform: scaleY(0);
  border-bottom: 0px;
}

@mixin active {
  opacity: 1;
  height: 100%;
  transform: scaleY(1);
}

@mixin hover {
  background-color: #0e3d6c;
  box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.2);
}

@mixin noHover {
  background-color: transparent;
  box-shadow: none;
}

.Profile {
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
  border-bottom:1px solid #1c6bb2;
  flex-direction: column;
  @include active;

  &.listActive {
    @include inactive;

    &.active {
      @include active;

      &:hover,
      &:focus {
        @include noHover;
      }
    }
  }

  &:not(.single) {
    &:hover,
    &:focus {
      @include hover;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}