@import 'src/mixins/variables';
@import 'src/mixins/hidden';
@import 'src/mixins/visible';

.TabList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.Tab {
  flex-basis: 0;
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  &:not(:last-child) {
    border-right: 1px solid #fff;
  }

  &:hover,
  &:focus {
    background: blue;
    color: yellow;
  }
}

.TabSelected,
.TabSelected:hover,
.TabSelected:focus {
  background: #fff;
  color: #000;
}

.TabPanel {
  @include hidden;
}

.TabPanelVisible {
  @include visible;
  height: $tabContainerHeight;
}
