.LadderWinLoseCount {
  font-size: 12px;
  font-weight: bold;
}

.countWins,
.countTies,
.countLosses {
  display: inline-block;
  text-align: center;
  cursor: help;

}

.countWins {
  color:#5cea00;
}


.countTies {
  color:#dda505;
}


.countLosses {
  color:#f44242;
}

.noGames {
  color:#000713;
}