@import 'src/mixins/animations';

.LoadingScreen {
  background: linear-gradient(#012c5f, #011635);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: FadeIn 200ms;
}