.Frame {
  width: 84px;
  height: 83px;
  position: relative;
}

.FrameImage {
  width: 100%;
  height: 100%;
  background: url('./Images/Frames.png') no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.Content {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
  width: 64px;
  height: 63px;
  overflow: hidden;
}

.FrameImage.default {
  background-position:0 0;
}

.FrameImage.bronze {
  background-position:0 -84px;
}

.FrameImage.silver {
  background-position:0 -168px;
}

.FrameImage.gold {
  background-position:0 -252px;
}

.FrameImage.platinum {
  background-position:0 -336px;
}

.FrameImage.diamond {
  background-position:0 -420px;
}

.FrameImage.master {
  background-position:0px -504px;
}

.FrameImage.grandmaster {
  background-position:0px -588px;
}