@import 'src/mixins/hidden';
@import 'src/mixins/visible';
@import 'src/mixins/transition';
@import 'src/mixins/tabContainerHeight';

.TabList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border-top: 1px solid #1f598e;
}

.Tab {
  flex-basis: 0;
  flex-grow: 1;
  background: #3b3c3c;
  color: #cfffff;
  font-size: 12px;
  padding: 2px 0;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #1f598e;
  transition: background-color 200ms;

  &:not(:last-child) {
    border-right: 1px solid #1f598e;
  }

  &:hover,
  &:focus {
    background: #0c1723;
  }
}

.TabSelected,
.TabSelected:hover,
.TabSelected:focus {
  background: #0c1723;
  border-bottom: 1px solid #0c1723;

}

.TabPanel {
  @include hidden;
  @include transition(top);
}

.TabPanelVisible {
  @include visible;
  height: $tabContainerHeight;
}
