@import 'src/mixins/hidden';
@import 'src/mixins/visible';
@import 'src/mixins/transition';
@import 'src/mixins/variables';

$borderColor: #1f598e;
$tabBgColor: #3b3c3c;
$tabTextColor: #cfffff;
$tabSelectedBgColor: #0c1723;
$tabBorder: 1px solid $borderColor;

.TabList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: $tabSectionHeight;
  border-top: $tabBorder;
}

.Tab {
  flex-basis: 0;
  flex-grow: 1;
  background: $tabBgColor;
  color: $tabTextColor;
  font-size: 12px;
  padding: 2px 0;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-bottom: $tabBorder;
  transition: background-color $transitionDuration;

  &:not(:last-child) {
    border-right: 1px solid $borderColor;
  }

  &:hover,
  &:focus {
    background: $tabSelectedBgColor;
  }
}

.TabSelected,
.TabSelected:hover,
.TabSelected:focus {
  background: $tabSelectedBgColor;
  border-bottom: 1px solid $tabSelectedBgColor;

}

.TabPanel {
  @include hidden;
  @include transition(top);
}

.TabPanelVisible {
  @include visible;
  height: $tabContainerHeight;
}
