.RankImage {
  background-position: -99px 4px;
  background-repeat: no-repeat;
  width: 46px;
  height: 51px;
  background-image:url('images/none.png');
}

.bronze {
  background-image:url('images/bronze.png');
}

.silver {
  background-image:url('images/silver.png');
}

.gold {
  background-image:url('images/gold.png');
}

.platinum {
  background-image:url('images/platinum.png');
}

.diamond {
  background-image:url('images/diamond.png');
}

.master {
  background-image:url('images/master.png');
}

.grandmaster {
  background-image:url('images/grandmaster.png');
}