@import 'src/mixins/variables';

.ConfigInfoBox {
  padding: 0 10px;
  transition: all $transitionDuration;

  h2 {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    cursor: pointer;

    > span {
      margin-left: 10px;
    }
  }

  ol {
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  li,
  p {
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }

  a {
    color: #00aeff;
  }

  .content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all $transitionDuration;

    &.expanded {
      height: 100%;
      opacity: 1;
    }
  }
}