@import 'src/mixins/variables';

.ConfigFormHeading {
  display: flex;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #163757;

  h2 {
    margin: 0;
    padding: 0 0 0 10px;
    line-height: 1;
  }
}

