.ViewerPanelWrapper {
  border:1px solid black;
  width: 100%;
  max-width:320px;
  padding:30px;
  height:500px;
  background:#01122e url("./ViewerPanelWrapper-bg.png") no-repeat center top;
  color:#fff;
  box-sizing:border-box;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.ViewerPanelWrapper p {
  color: #fff;
}