html, body {
  padding: 0;
}

.ViewerPanelWrapper {
  background:#000102 url("./ViewerPanelWrapper-bg.png") no-repeat right bottom;
  background-size:cover;
  display: flex;
  width: 100%;
  height: 100vh;
  padding:30px;
  color:#fff;
  box-sizing:border-box;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

.ViewerPanelWrapper p {
  color: #fff;
}