.ViewerError {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.ViewerError__emote {
  font-size: 20px;
  font-weight: bold;
  color: #C1FFFF;
}

.ViewerError__message {
  font-size:12px;
  margin-bottom: 0;
  color:#098efe;
}