@import 'src/mixins/variables';

@mixin inactive {
  height: 100%;
}

@mixin active {
  height: $headerHeight;
}

@mixin transition {
  transition-property: height;
  transition-duration: $transitionDuration;
}

.Heading {
  width: 100%;
  padding: 0 $edgePadding;
  display: flex;
  align-items: center;
  cursor: default;
  position: relative;
  @include transition;
  @include inactive;

  &.active {
    @include active;
  }

  &.clickable {
    cursor: pointer;
  }

  .bottomLeft {
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
}