.Flag {
  width: 20px;
  height: 13px;
  background: url('./images/Flag-blank.png');
}

.us {
  background: url('./images/Flag-us.png');
}

.eu {
  background: url('./images/Flag-eu.png');
}

.kr {
  background: url('./images/Flag-kr.png');
}

.cn {
  background: url('./images/Flag-cn.png');
}