@import 'src/mixins/variables';
@import 'src/mixins/animations';

.ViewerPanel {
  border: 1px solid #1c6bb2;
  color:#cfffff;
  min-width: 318px;
  height: 100vh;
  animation: FadeIn 200ms;
  font-family: $fontFamily;
  overflow: hidden;
}