.LadderMode {
  font-weight: 800;
  display: flex;
  align-items: center;
  position: relative;

  &.hoverable {
    cursor: pointer;
  }

  .dropdown {
    border: 1px solid pink;
    background: red;
    color: yellow;
    width: 40px;
    position: absolute;
    left: 0;
    top: 16px;
    display: none;

    &.expanded {
      display: block;
    }
  }
}