.NoProfilesFound {
  height: 100vh;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: #cfffff;
    text-align: center;
  }
}