body {
  background: #faf9fa !important;
}

.ConfigWrapper {
  color:#19171c;
  padding:30px 0;
  height: 100%;
  box-sizing: border-box;
}

.ConfigWrapper,
.ConfigWrapper select,
.ConfigWrapper input,
.ConfigWrapper button {
  font-size: 12px;
}