$headerHeight: 123px;
$tabSectionHeight: 20px;
$edgePadding: 0.75rem;
$detailsHeight: calc(100vh - #{$headerHeight});
$tabContainerHeight: calc(#{$detailsHeight} - #{$tabSectionHeight});
$transitionDuration: 200ms;