@import 'src/mixins/variables';

.NoMatchesPlayed {
  height: $tabContainerHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: #1f598e;
    font-size: 13px;
  }
}