@import 'src/mixins/variables';

.Stats {
  height: $tabContainerHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 33.33%;
  
    &:not(:last-child) {
      border-bottom: 1px solid #153656;
    }
  }

  .count > div,
  .ranks > div {
    width: 50%;
  }

  .ranks > div {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 2rem;

    div {
      margin: 0 auto;
    }
  }
}