.ConfigManual .CollapseManualButton {
  font-weight: bold;
}

.ConfigManual ol {
  padding-left: 1rem;
}

.ConfigManual .forumUrls {
  padding: 0 1rem;
}

.ConfigManual .forumUrls li {
  margin:1rem 0;
}

.ConfigManual li {
  margin:1rem;
}

.ConfigManual .forumUrls img {
  padding:1rem;
}