.LadderRankImage {
  position: absolute;
  top:0;
  left:0;
  background-position: -99px 4px;
  background-repeat: no-repeat;
  width: 46px;
  height: 51px;
  z-index:10;
}

.LadderRankImage:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.LadderRankImage.none:after {
  background:url('Images/LadderRankImage-bg-sprite.png') no-repeat left bottom;
}

.LadderRankImage:not(.none):after {
  background:url('Images/LadderRankImage-bg-sprite.png') no-repeat left bottom;
}

.LadderRankImage.bronze:after,
.LadderRankImage.silver:after,
.LadderRankImage.gold:after,
.LadderRankImage.platinum:after,
.LadderRankImage.diamond:after,
.LadderRankImage.master:after,
.LadderRankImage.grandmaster:after {
  background:url('Images/LadderRankImage-bg-sprite.png') no-repeat left top;
}

.LadderRankImage.bronze {
  background-image:url('Images/bronze.png');
}

.LadderRankImage.silver {
  background-image:url('Images/silver.png');
}

.LadderRankImage.gold {
  background-image:url('Images/gold.png');
}

.LadderRankImage.platinum {
  background-image:url('Images/platinum.png');
}

.LadderRankImage.diamond {
  background-image:url('Images/diamond.png');
}

.LadderRankImage.master {
  background-image:url('Images/master.png');
}

.LadderRankImage.grandmaster {
  background-image:url('Images/grandmaster.png');
}