@import 'src/mixins/animations';

$topPosition: 9px;
$edgePosition: 27px;

.LoadingScreenLogo {
  background: url('images/logo.png') no-repeat center center;
  width: 176px;
  height: 187px;
  position: relative;
  animation: FadeIn 300ms;
  transition: opacity 300ms;

  .left,
  .right {
    position: absolute;
    top: $topPosition;
    overflow: hidden;
    height: 0;
    animation: FadeIn 1s;
    animation: Loading 1s infinite ease;
  }

  .left {
    left: $edgePosition;
  }

  .right {
    right: $edgePosition;

    * {
      transform: scaleX(-1);
    }
  }
}
